.g_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.g_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: rotate(270deg);
    transform: translateX(-50%) translateY(-50%) rotate(270deg);
}

/* Firefox */
.g_input[type=number] {
    appearance: textfield;
}

.g_input::-webkit-outer-spin-button,
.g_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}